<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <script type="text/javascript" src="lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="skyframe/lib/skyframe.js"></script>
</head>
<!-- 模板正文 -->
<body style="margin: 0px;">
    <div id="headDiv" style="width:100%;height:80px;"></div>
    <div id="mainDiv" style="width: 100%;"></div>
</body>


<script>

    function initMainDivHeight(){
        var height = $(window).height();
        $('#mainDiv').height(height-82);
    }

    function initFrameObj(){
        var headFrame = new skyframe();
        headFrame.init({
            id:"headFrame",
            container:$("#headDiv"),
            server:"modules/headPage/src/service",
            views:"modules/headPage/web/index.ejs",
            //server:"modules/zhbr3D/src/Build3DServer",
            //views:"modules/zhbr3D/web/build.ejs",
            closeable:false,
            maximizeable:false,
            minimizeable:false,
            moveable:false,
            //style:{},
            parms:'a=123&b=234'
        });


        var mainFrame = new skyframe();
        mainFrame.init({
            id:"mainFrame",
            container:$("#mainDiv"),
            server:"modules/mainPage/src/service",
            views:"modules/mainPage/web/index.ejs"
        });
    }



    $(function(){
        initFrameObj();
        initMainDivHeight();
    });

</script>
</html>

