
<div class="row" style="background: #030306;color: #FFFFFF;">
    <div class="col-md-12" style="height: 10px;"></div>
    <div class="col-md-12 text-center">
        客服热线:400-820-8820&nbsp;&nbsp;&nbsp;站内短信:请发给客服中心&nbsp;&nbsp;&nbsp;传真号码:XXXX&nbsp;&nbsp;&nbsp;客服邮箱:695541723@qq.com<br/>
        关于我们&nbsp;推广合作&nbsp;服务条款&nbsp;隐私保护&nbsp;&nbsp;&nbsp;&nbsp;2001-2016版权所有 www.xxx.com网络服务有限公司&nbsp;营业执照<br/>
        公司地址:XXX&nbsp;&nbsp;邮编:XXX&nbsp;&nbsp;公司官网:www.makemakebj.com<br/>
        增值电信业务经营许可(ICP)证编号:川B2-20060242省互联网协会会员证<br/>
        公安备案号:51011199847-00001
    </div>
</div>