<div>
    <h1>测试页面!!!</h1>
    <div id="test">我的测试</div>
    <div id="test1">我的测试1</div>

</div>


<script>

    $("#test").datachangeInHtml("a",function(arg){

    });

    $("#test1").datachangeInHtml("b.c.d",function(arg){

    });

//    $("body").on("mytest",function(event,x){
//        console.log(x);
//    });
//
//    $("body").on("mytest",function(event,x){
//        console.log(x+"*");
//    });
//
//    $("body").trigger("mytest","abc");

    //net.data.a = 1;
    //console.log("****************");
    //net.data.b = {c:{d:2}};
    //net.data.b.c.d = 10;
//    console.log("****************");
//    net.data.b.c = {};
//    console.log("****************");
    //net.data.b.c.d = 3;
    //net.data.b.c.e = 5;
//    console.log("****************");


    net.on("myOn",function(res){
        //alert(res);
    });

    net.getView("testMethod","a=123",function(res){
        //alert(res);
        net.emit("serverOn","传送给后台");
    });

</script>