<div class="container-fluid" style="background: #030306;height: 100%;" >
    <div class="row" style="margin-left: -15px;padding-right: -15px;height: 100%;">
        <div id="logoArea" class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" style=""></div>
                <div class="col-md-9">
                    <h1 style="color: #FFFFFF;">马克马克星球聊天基地</h1>
                </div>
            </div>
        </div>
        <div id="userHandleArea" class="col-md-4" style="height: 100%;">
            <div class="row" style="height: 100%;line-height: 80px;">
                <div class="col-md-5 text-center" style="color: #FFFFFF;height: 100%;">
                    <div style="height:80px;">欢迎您!<span id="nc">游客</span></div>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" onclick="login(this)">登录</a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" onclick="register(this)">注册</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/headPage/web/index.js"></script>