<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>LifeKit</title>
  <script type="text/javascript" src="/lib/jquery-1.12.3.min.js"></script>
  <style>
    .block {
      border: solid 1px #000000;
      height: 25px;
      width: 25px;
      display: inline-block;
      margin: 3px;
    }
  </style>
</head>
<!-- 模板正文 -->

<body style="position: absolute;top:0px;left: 0px;right: 0px;bottom: 0px; "> 
  <div id="div">Hello LifeKit!!</div>
</body>

<script type="text/javascript" src="/skyframe/lib/skyframe.js"></script>

<script>
  // let frame = new skyframe(); //获取对象
  // frame.init({ //初始化
  //   id: "frame",
  //   container: $("#div"),
  //   engine: "test"
  // });
</script>

</html>