<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="lib/bootstrapValidator/css/bootstrapValidator.min.css">

    <script type="text/javascript" src="lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="lib/babel/browser.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="lib/bootstrapValidator/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="lib/bootstrapValidator/js/language/zh_CN.js"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="lib/three-v73/Three.js"></script>
    <script type="text/javascript" src="lib/three-v73/OrbitControls.js"></script>
    <script type="text/javascript" src="lib/three-v73/Tween.js"></script>
    <script type="text/javascript" src="lib/three-v73/Stats.js"></script>
    <script type="text/javascript" src="lib/three-v73/Detector.js"></script>
    <script type="text/javascript" src="skyframe/lib/netclient.js"></script>
    <script type="text/javascript" src="skyframe/lib/skyframe.js"></script>


</head>
<!-- 模板正文 -->
<body style="position: absolute;top:0px;left: 0px;right: 0px;bottom: 0px;">
<div id="divAll" style="height: 100%;">

</div>
</body>



<script>



    var net;

    $(function(){
        net = NetClient('<%= host %>','<%=server %>',function(){
            try{
                var parmsData = JSON.parse('<%-JSON.stringify(parms) %>');
                net.data.parms=parmsData;
            }catch (e){
                console.error(e);
            }
            net.getView("getEjs", '<%=views %>',function(result,parms){
                $("#divAll").html(result);
            });
        });

    });

</script>
</html>

