.title{
    margin-top: 5px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #d3dde8;
}

.detail{
    width: 100%;
    height: 180px;
    line-height: 25px;
    background: #FFFFFF;
    padding: 10px;
    border: solid 1px #d3dde8;
}

.adviertisement{
    width: 100%;
    height: 180px;
    line-height: 25px;
    background: #FFFFFF;
}

.detailBottom{
    height: 35px;
    line-height: 35px;
    border-top: solid 1px #d3dde8;
}

.detail p{
    height: 25px;
    line-height: 25px;
    margin: 0px 0px 0px;
}

.talkView{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:415px;
    background: #ffffff;
    border: solid 1px #d3dde8;
    overflow: auto;
}

.talkInput{
    margin-top: 5px;
    height:180px;
    background: #ffffff;
    border: solid 1px #d3dde8;
}

.rightBlock{
    margin-top: 5px;
    height:600px;
    background: #ffffff;
    border: solid 1px #d3dde8;
}

.userPic{
    margin-top: 20px;
    background-image: url("/talkhome/web/images/people.jpg");
    width: 60px;
    height: 60px;
    background-position:-27px -66px;
}

.viewUserPic{
    background-image: url("/talkhome/web/images/people.jpg");
    width: 40px;
    height: 40px;
    background-position:-37px -70px;
    display: inline-block;
    float: left;
}

.talkName{
    height: 20px;
    margin-left: 10px;
}

.infodata{
    height:20px;
    margin-left: 2px;
}

.talkContaner{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.talkContaner-right{
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
}

.talkName-right{
    height: 20px;
    margin-right: 10px;
}

.talkInputButtonGroup{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #d3dde8;
}