<link rel="stylesheet" href="/talkhome/web/index.css">

<div class="container-fluid" style="height: 100%; background: #e8e8e8">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2" align="center" style="padding: 5px 0px 5px 0px;">
            <div class="title">
                <span class="glyphicon glyphicon-home"></span>&nbsp;足球吧
            </div>
            <div class="detail" align="left">
                <div style="height: 125px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;专注于足球相关资讯与赛事,提供广大球迷一个中立和谐的足球讨论基地
                </div>
                <div class="detailBottom" align="center">
                    在线人数:<span style="color: red;font-weight: 800;font-size: 14px;">3,284,234人</span>
                </div>
            </div>
            <div class="title">
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;房间公告信息
            </div>
            <div class="detail" align="left">
                <p>xxx进入房间</p>
                <p>MMM被禁言10分钟</p>
                <p>xxx退出房间</p>
            </div>
            <div style="height: 5px;"></div>
            <div class="adviertisement" align="left">
                广告位招租
            </div>
        </div>
        <div class="col-md-6" style="padding: 0px 5px 0px 5px;">
            <div class="talkView">

            </div>
            <div class="talkInput">
                <div class="talkInputButtonGroup">
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-font"></span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-picture"></span>
                </div>
                <div style="height: 110px;">
                    <textarea style="width: 100%; border: none;" rows="5"></textarea>
                </div>
                <div align="right" style="padding-right: 20px;">
                    <button class="btn btn-default" type="button">
                        发送
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px 0px 5px 0px;">
            <div class="rightBlock" align="center">
                <div class="userPic img-circle" >
                </div>
                <div style="height: 10px;"></div>
                <p>
                    我是某某某&nbsp;<span class="glyphicon glyphicon-pencil" title="编辑资料"></span>
                </p>
                <p align="left" style="padding-left: 10px;">等级:5级</p>
                <p align="left" style="padding-left: 10px;">操作:&nbsp;
                    <span class="glyphicon glyphicon-heart-empty" title="收藏该房间"></span>
                    <span class="glyphicon glyphicon-send" title="去其他房间"></span>
                </p>
                <div style="width: 90%; border-top: solid 1px #d3dde8; border-bottom: solid 1px #d3dde8;">
                    <div class="input-group" style="margin: 10px 0px 10px 0px;">
                        <input type="text" class="form-control" placeholder="输入昵称查找">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div align="left" style="padding: 10px 10px 10px 10px;height: 360px; overflow: auto;">
                    <%for(var i=0;i<30;i++){%>
                    <div>
                        <span class="glyphicon glyphicon-user"></span>
                        <span>测试人员<%=i%></span>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


<script type="text/javascript" src="/talkhome/web/index.js"></script>