
<style>
  #shadeAll{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:99999;
    display:none;
  }

  #fwaitting{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:99999;
    display:none; 
    vertical-align: middle;
    background: #FFFFFF; 
  } 
  #fwaittingTable{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:999999;
    display:none; 
  }
</style>

<div id="shadeAll"></div>
<div id="fwaitting" align="center"></div> 
<div id="fwaittingTable" align="center">
  <table style="height:100%;">
    <tr>
        <td>
            <div style="position:relative;z-index:9999999;">
              <img src="/skyframe/images/waiting.gif" alt="">
            </div>
        </td>
    </tr>
  </table>
</div>
