<el-container id="app1" style="height:100%;">
  <el-aside style="width:200px;padding-top:30px;padding-left:20px;">
    <el-tree :data="data" node-key="id" :props="defaultProps" :expand-on-click-node="false"  @node-click="handleNodeClick"></el-tree>
  </el-aside>
  <el-main>
    <el-card>
      <el-form ref="form" :model="form" label-width="180px">
        <el-form-item label="网站名称">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="公司LOGO">
            <el-upload
              class="avatar-uploader"
              :show-file-list="false"
              :action="uploadUrl" 
              :data="uploadData" 
              :on-success="handlePictureSuccess" 
              :before-upload="beforePictureUpload"
              :on-err="handlePictureError"
              list-type="picture-card">
              <img v-if="imageUrl" :src="imageUrl" style="width:100%;height:100%;">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i> 
            </el-upload>
        </el-form-item> 
      </el-form>
    </el-card> 

    <el-card class="user-card">
      <div slot="header" @click="changeUserCard">
        <span>用户模块</span>
        <el-button style="float: right; padding: 3px 0" :class="userCardIcon" type="text" ></el-button>
      </div>
      <el-form ref="user-form" :inline="true" :model="form" label-width="130px" v-show="isUser">
        <el-form-item label="登陆地址">
          <el-input v-model="form.loginUrl" placeholder="请输入URL"></el-input>
        </el-form-item>
        <el-form-item label="登出地址">
          <el-input v-model="form.logoutUrl" placeholder="请输入URL"></el-input>
        </el-form-item> 
        <el-form-item label="修改密码地址">
          <el-input v-model="form.changePwd" placeholder="请输入URL"></el-input>
        </el-form-item> 
        <el-form-item label="个人信息地址">
          <el-input v-model="form.editUrl"  placeholder="请输入URL"></el-input>
        </el-form-item> 
        <el-form-item label="用户显示名称">
          <el-input v-model="form.ncStr" placeholder="请输入昵称对应的字段名称"></el-input>
        </el-form-item> 
      </el-form>
    </el-card>
    <el-card class="menu-card">
        <div slot="header">
          <span>菜单配置</span>
          <el-button style="float: right; padding: 3px 0" class="el-icon-plus" type="text" @click="addMenu" ></el-button>
        </div>
        <div style="margin: 20px; font-size:13px;">
          <el-row :gutter="20"> 
            <el-col :span="2"><strong>序号</strong></el-col>
            <el-col :span="4"><strong>菜单名称</strong></el-col>
            <el-col :span="6"><strong>URL</strong></el-col>
            <el-col :span="4"><strong>功能描述</strong></el-col>
            <el-col :span="8"><strong>操作</strong></el-col>
          </el-row> 
          <el-row :gutter="20" v-for="(item, index) in menuList" style="height:40px;line-height:40px;"> 
            <el-col :span="2">
              <span>{{index+1}}</span> 
            </el-col>
            <el-col :span="4">
              <span v-if="!item.edit">{{item.name}}</span>
              <el-input class="menuInput" v-else v-model="item.name" placeholder="菜单名称"></el-input>
            </el-col>
            <el-col :span="6">
              <span v-if="!item.edit">{{item.url}}</span>
              <el-input class="menuInput" v-if="item.edit" v-model="item.url" placeholder="URL"></el-input> 
            </el-col>
            <el-col :span="4">
              <span v-if="!item.edit">{{item.type=="1"?"首页":"功能菜单"}}</span>
              <el-select class="menuInput" v-if="item.edit" v-model="item.type" placeholder="请选择">
                <el-option
                  v-for="item in menuShow"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="8">
              <a v-show="!item.edit" class="el-icon-edit" type="text" @click="editMenu(index,item)" ></a>
              <a v-show="item.edit" class="el-icon-check success" type="text" @click="updateMenu(index,item)" ></a>
              <a style="color: #F56C6C;" class="el-icon-close" type="text" @click="deleteMenu(index,item)" ></a>
            </el-col>
          </el-row> 
        </div> 
      </el-card> 
  </el-main>
</el-container>

<script>  
  
  new Vue({
    el: '#app1',
    created() {
      let that = this;
      net.getData("getHomeInfo",function(res){
        res = JSON.parse(res); 
        if(res.code===200&&res.data){ 
          that.initForm(res.data.home);
          that.initMenuList(res.data.menu);
        } else {
          this.$message.error({ showClose: true, message: res.msg, duration: 2000 });
        }
      });
    },
    data() {
      return {
        form: {
          name:"",
          logo:"",
          loginUrl:"",
          logoutUrl:"",
          changePwdUrl:"",
          editUrl:""
        },
        imageUrl: "", 
        uploadUrl: net.getUploadFileURL(),
        uploadData: net.getAjaxData("uploadLogo"),
 
        userCardIcon:"el-icon-arrow-down", 
        isUser:false,
 
        //所属菜单列表
        menuList:[],

        menuShow: [
          {label:'首页',value:'1'},
          {label:'功能菜单',value:'0'}
        ],

        data: [{
          id: 1,
          label: 'HomePage', 
          children: []
        }],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
    },
    methods: {

      initForm(data){ 
        if(!data){
          return;
        } 
        this.form = {
          name:data.name,
          logo:data.logo,
          loginUrl:data.loginUrl,
          logoutUrl:data.logoutUrl,
          changePwdUrl:data.changePwdUrl,
          editUrl:data.editUrl
        };
      },

      initMenuList(data){
        this.menuList = data;
      },

      //图片
      beforePictureUpload(file) {
        const isPic = (file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png');
        const isLt500K = file.size / 1024 < 500;
        if (!isPic) {
          this.$message.error({ showClose: true, message: '上传图片只能是 jpg,png 格式!', duration: 2000 });
        }
        if (!isLt500K) {
          this.$message.error({ showClose: true, message: '上传图片大小不能超过 500kB!', duration: 2000 });
        }
        return isPic && isLt500K;
      },
      handlePictureSuccess(response, file, fileList) { 
        if (response.code===200) {
          //这才算是真正的上传成功
          this.imageUrl = response.msg; 
        } else {
          this.$message.error({ showClose: true, message: '上传服务器出现异常', duration: 2000 });
        }
      },
      handlePictureError(err, file, fileList) {
        this.$message.error(err);
      },


      handleNodeClick(data) {
        console.log(data);
      },
      addMenu(){
        this.menuList.push({
          name: '',
          url: '',
          show: '0',
          edit: true
        });
      },
      editMenu(index){
        this.menuList[index].edit=true; 
      },
      updateMenu(index,menu){
        net.getView("saveMenu",menu,res => {
          res = JSON.parse(res);
          if(res.code===200){
            this.menuList[index].id = res.data.id;
          }else{
            this.$message.error({ showClose: true, message: res.msg, duration: 2000 });
          } 
          this.menuList[index].edit=false; 
        });
      },
      deleteMenu(index){
        this.menuList.splice(index,1);
      },
      changeUserCard(){
        if(this.isUser){
          this.userCardIcon = "el-icon-arrow-down";
          this.isUser = false;
        }else{
          this.userCardIcon = "el-icon-arrow-up";
          this.isUser = true;
        }
      }
    }
  });
</script>

<style>   

  .el-row {
    height: 30px;
  }

  .el-form{
    margin: 20px;
  }

  .el-card__header{
    padding: 10px;
  }

  .el-card__body{
    padding: 0px;
  }

  .el-card{
    margin-bottom: 10px;
  }

  .el-aside { 
    border-right: solid 1px #D3DCE6; 
  }
    
  body>.el-container {
    margin-bottom: 40px;
  }
 
</style>