<!-- ejs模板,模块展现层,负责展现UI -->

<div id="realData" class="container-fluid" style="height: 100%;padding-top: 40px;">
    <div class="row" style="height:100%;">
        <div class="col-md-4" style="border: solid 1px #cccccc;padding-top: 40px;">
            <form id="exampleConfig" action="" class="form-horizontal" onSubmit="return false;">
                <div class="form-group">
                    <label class="col-sm-2 control-label" >server</label>
                    <div class="col-sm-10">
                        <input v-model="server" class="form-control" type="text" placeholder="模块名称" />
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-11 checkbox">
                        <label class="checkbox-inline"><input type="checkbox" id="closeable" />可关闭</label>
                        <label class="checkbox-inline"><input type="checkbox" id="maximizeable" />可最大化</label>
                        <label class="checkbox-inline"><input type="checkbox" id="minimizeable"  />可最小化</label>
                        <label class="checkbox-inline"><input type="checkbox" id="moveable" />可移动</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="styletext">样式</label>
                    <div class="col-sm-10">
                        <textarea id="styletext" name="styletext" class="form-control" placeholder='{"width":"20px","height":"20px"...}'></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="paramtext">参数</label>
                    <div class="col-sm-10">
                        <textarea id="paramtext" name="paramtext" class="form-control" placeholder="a=123&b=234"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button id="loadTest" type="button" class="btn btn-default">载入</button>
                    </div>
                </div>
            </form>
        </div>
        <div  class="col-md-8" style="height: 90%; padding-left: 10px;">
            <div id="exampleContainer" style="border: solid 1px #cccccc; height: 100%; position: relative;">

            </div>
        </div>
    </div>
</div>

<script>

    var vue = net.datachange("realData");       

    $("#loadTest").bind('click',function(){
        var initObj = {
            id:"exampleframe",
            container:$("#exampleContainer"),
            server:net.data.server
        }; 
        initObj["closeable"] = $("#closeable").is(':checked');
        initObj["maximizeable"] = $("#maximizeable").is(':checked');
        initObj["minimizeable"] = $("#minimizeable").is(':checked');
        initObj["moveable"] = $("#moveable").is(':checked');
        var style = $("#styletext").val();
        initObj["style"] = style?JSON.parse(style):null;
        initObj["parms"] = $("#paramtext").val();
        var frame = new skyframe();
        frame.init(initObj);
    });

</script>