<form method="post" action="/test/getView" enctype="multipart/form-data">
  <input type="file" name="test" id="">
  <input type="text" name="method" id="" value="uploadData">
  <input type="submit" value="提交">
</form>