.topHome{
    height: 240px;
}

.homeBorder{
    border: solid 1px #FFFFFF;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    margin-top: 45px;
}

.talkContaner{
    height: 150px;
    width: 150px;
    color: #FFF;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.talkhomeList{
    line-height: 40px;
}