<link rel="stylesheet" href="/mainPage/web/index.css">

<div class="container-fluid">
    <div class="row" style="height: 390px;background: #030306;">
        <div class="col-md-12" style="height: 150px;">

        </div>
        <div class="col-md-2 topHome"></div>
        <div class="col-md-2 topHome" align="center">
            <div class="homeBorder">
                <div class="talkContaner">
                    <div style="height: 70px;font-size: 24px;line-height: 100px;">随便聊吧</div>
                    <div style="height: 20px;font-size: 10px;line-height: 20px;">在线人</div>
                    <div style="height: 30px;font-size: 14px;line-height: 30px;">
                        <a href="javascript:void(0);" style="border: solid 1px #21607c;">点击进入</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 topHome" align="center">
            <div class="homeBorder">
                <div class="talkContaner">
                    <div style="height: 70px;font-size: 24px;line-height: 100px;">随便聊吧</div>
                    <div style="height: 20px;font-size: 10px;line-height: 20px;">在线人</div>
                    <div style="height: 30px;font-size: 14px;line-height: 30px;">
                        <a href="javascript:void(0);" style="border: solid 1px #21607c;">点击进入</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 topHome" align="center">
            <div class="homeBorder">
                <div class="talkContaner">
                    <div style="height: 70px;font-size: 24px;line-height: 100px;">随便聊吧</div>
                    <div style="height: 20px;font-size: 10px;line-height: 20px;">在线人</div>
                    <div style="height: 30px;font-size: 14px;line-height: 30px;">
                        <a href="javascript:void(0);" style="border: solid 1px #21607c;">点击进入</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 topHome" align="center">
            <div class="homeBorder">
                <div class="talkContaner">
                    <div style="height: 70px;font-size: 24px;line-height: 100px;">随便聊吧</div>
                    <div style="height: 20px;font-size: 10px;line-height: 20px;">在线人</div>
                    <div style="height: 30px;font-size: 14px;line-height: 30px;">
                        <a href="javascript:void(0);" style="border: solid 1px #21607c;">点击进入</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 topHome" align="center"></div>
    </div>
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col-md-8 text-center">
                <h1>在线人数:<span style="font-weight: 800;">259,8637</span></h1>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <%for(var i=0;i<8;i++){%>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1 talkhomeList">
            足球吧
        </div>
        <div class="col-md-1"></div>
    </div>
    <%}%>

    <%-include ../../commonWeb/bottomPage.ejs%>

</div>

<script type="text/javascript" src="/mainPage/web/index.js"></script>