<link rel="stylesheet" href="/lk-main/web/index.css">

<el-container id="app" style="height:100%;">
  <el-header style="height:61px;line-height:60px;">
    <el-row  style="height:100%;">
      <el-col :span="8" style="height:100%;">
        <el-row>
          <el-col :span="4"><img :src="form.logo" style="height:60px;" alt=""></el-col> 
          <el-col :span="20"  align="left" class="title">{{form.name}}</el-col>
        </el-row> 
      </el-col>
      <el-col :span="13">
        <el-menu :default-active="0" class="el-menu-demo" mode="horizontal">
          <el-menu-item v-for="(item,i) in navs" :index="i" @click="navClick(item)">
            <span style="font-size:25px;">{{item.name}}</span>
          </el-menu-item> 
        </el-menu>
      </el-col> 
      <el-col :span="3">
        <template  v-if="loginUser">
          <el-dropdown> 
            <span class="el-dropdown-link">
              您好！{{loginUser[form.ncStr]}}<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item><a :href="form.editUrl"><i class="el-icon-upload2"></i>个人信息</a></el-dropdown-item>
              <el-dropdown-item><a :href="form.changePwdUrl"><i class="el-icon-edit-outline"></i>修改密码</a></el-dropdown-item>
              <el-dropdown-item><a :href="form.logoutUrl"><i class="el-icon-upload2"></i>退出</a></el-dropdown-item> 
            </el-dropdown-menu> 
          </el-dropdown> 
        </template> 
        <template v-else>
          <span style="font-size:14px;">
            您好！<a :href="form.loginUrl">请先登录</a>
          </span> 
        </template>
      </el-col>
    </el-row> 
    <div class="line"></div> 
  </el-header>
  <el-container>
    <el-aside style="width:auto;">
      <el-row>
        <el-col :span="24">   
          <el-menu default-active="2" class="el-menu-vertical-demo" :collapse="isCollapse">
            <div @click="changeCollapse" class="menuhead" align="center">
                <i class="el-icon-menu"></i>
            </div>
            <el-menu-item v-for="(item,index) in menus" :index="index">
              <i class="el-icon-star-off"></i>
              <span  slot="title">{{item.name}}</span>
            </el-menu-item> 
          </el-menu>
        </el-col> 
      </el-row>
    </el-aside>
    <el-main style="position:relative;">
      <iframe :src="mainUrl" frameborder="0" style="width:100%;height:100%; position:absolute;top:0px;right:0px;bottom:0px;left:0px;"></iframe>
    </el-main>
  </el-container>
</el-container>
<script type="text/javascript" src="/lk-main/web/index.js"></script>