

.title { 
  line-height: 60px; 
  height: 100%;
  font-size: 30px;
  font-weight: 600;
}

.el-header {
  text-align: center;
  line-height: 60px;  
  border-bottom: solid 1px #D8DCE5;
}

.el-aside { 
  color: #333;
  text-align: left; 
  border-right: solid 1px #D8DCE5;
}

.el-main { 
  color: #333;
  text-align: center;
  line-height: 160px;
  padding: 0px;
}

body > .el-container {
  margin-bottom: 40px;
}
   
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-menu-vertical-demo:not(.el-menu--collapse) { 
  width: 199px;
  min-height: 400px;
}

.el-menu{
  border: none;
}

.menuhead{
  padding-top: 15px;
  cursor: pointer; 
}